{% extends 'polls/base.html' %}

{% block title %} {{ question.id }} - {{ question.question_text }} {% endblock %}

{% block content %}
    {% if question %}
        <h2>Question: {{ question.question_text }}</h2>
        <form action="">
            {% for item in question.choice_set.all %}
                <input id="choice-{{ item.id }}" type="radio" name="choice" value="{{ item.id }}" />
                <label for="choice-{{ item.id }}">{{ item.choice_text }}</label>
                <br/>
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
    {% endif %}
{% endblock %}