{% extends 'polls/base.html' %}

{% block title %} My Question List {% endblock %}

{% block content %}
    {% if list_question %}
        <h2>Question list:</h2>
            {% for question in list_question %}
                <a href="{% url 'view_detail' question.id %}">
                    <span>{{ question.question_text }}</span>
                </a>
                <br>
            {% endfor %}
    {% else %}
        <h3 style="color: red;">Question not found!</h3>
    {% endif %}
{% endblock %}